
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.assets.cache
*.pdb
*.cache
*.cache
Denver.DataAccess/bin/Debug/netcoreapp3.1/Denver.DataAccess.deps.json
*.props
*.targets
*.txt
*.dll
*.cache
*.cache
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.csprojAssemblyReference.cache
.vs/Denver/v16/.suo
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.csprojAssemblyReference.cache
*.CopyComplete
IdentityApi.Domain/obj/Debug/netcoreapp3.1/IdentityApi.Domain.csprojAssemblyReference.cache
Utility/obj/project.assets.json
Utility/obj/Denver.Infra.csproj.nuget.dgspec.json
Utility/bin/Debug/netcoreapp3.1/Denver.Infra.deps.json
UserManagementApi/obj/UserManagementApi.csproj.nuget.dgspec.json
UserManagementApi/obj/project.assets.json
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.exe
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.csprojAssemblyReference.cache
UserManagementApi/bin/Debug/netcoreapp3.1/UserManagementApi.runtimeconfig.json
UserManagementApi/bin/Debug/netcoreapp3.1/UserManagementApi.runtimeconfig.dev.json
UserManagementApi/bin/Debug/netcoreapp3.1/UserManagementApi.exe
UserManagementApi/bin/Debug/netcoreapp3.1/UserManagementApi.deps.json
UserManagementApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.MvcApplicationPartsAssemblyInfo.cs
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.csprojAssemblyReference.cache
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.csprojAssemblyReference.cache
UserManagementApi/bin/Debug/netcoreapp3.1/appsettings.json
UserManagementApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
UserManagementApi.Domain/obj/UserManagementApi.Domain.csproj.nuget.dgspec.json
UserManagementApi.Domain/obj/project.assets.json
UserManagementApi.Domain/bin/Debug/netcoreapp3.1/UserManagementApi.Domain.deps.json
UserManagementApi.DataCore/obj/UserManagementApi.DataCore.csproj.nuget.dgspec.json
UserManagementApi.DataCore/obj/project.assets.json
UserManagementApi.DataCore/obj/Debug/netcoreapp3.1/UserManagementApi.DataCore.csprojAssemblyReference.cache
UserManagementApi.DataCore/bin/Debug/netcoreapp3.1/UserManagementApi.DataCore.deps.json
IdentityApi/obj/project.assets.json
IdentityApi/obj/IdentityApi.csproj.nuget.dgspec.json
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.MvcApplicationPartsAssemblyInfo.cs
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.exe
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.csprojAssemblyReference.cache
IdentityApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
IdentityApi/bin/Debug/netcoreapp3.1/IdentityApi.runtimeconfig.json
IdentityApi/bin/Debug/netcoreapp3.1/IdentityApi.runtimeconfig.dev.json
IdentityApi/bin/Debug/netcoreapp3.1/IdentityApi.exe
IdentityApi/bin/Debug/netcoreapp3.1/IdentityApi.deps.json
IdentityApi/bin/Debug/netcoreapp3.1/appsettings.json
IdentityApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
IdentityApi.Domain/obj/project.assets.json
IdentityApi.Domain/obj/IdentityApi.Domain.csproj.nuget.dgspec.json
IdentityApi.Domain/obj/Debug/netcoreapp3.1/IdentityApi.Domain.csprojAssemblyReference.cache
IdentityApi.Domain/bin/Debug/netcoreapp3.1/IdentityApi.Domain.deps.json
IdentityApi.DataCore/obj/project.assets.json
IdentityApi.DataCore/obj/IdentityApi.DataCore.csproj.nuget.dgspec.json
IdentityApi.DataCore/obj/Debug/netcoreapp3.1/IdentityApi.DataCore.csprojAssemblyReference.cache
IdentityApi.DataCore/bin/Debug/netcoreapp3.1/IdentityApi.DataCore.deps.json
Denver.DataAccess/obj/project.assets.json
Denver.DataAccess/obj/Denver.DataAccess.csproj.nuget.dgspec.json
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.csprojAssemblyReference.cache
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.csprojAssemblyReference.cache
UserManagementApi.DataCore/obj/Debug/netcoreapp3.1/UserManagementApi.DataCore.csprojAssemblyReference.cache
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.csprojAssemblyReference.cache
IdentityApi.Domain/obj/Debug/netcoreapp3.1/IdentityApi.Domain.csprojAssemblyReference.cache
IdentityApi.DataCore/obj/Debug/netcoreapp3.1/IdentityApi.DataCore.csprojAssemblyReference.cache
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.csprojAssemblyReference.cache
*.cache
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.csprojAssemblyReference.cache
IdentityApi.DataCore/obj/Debug/netcoreapp3.1/IdentityApi.DataCore.csprojAssemblyReference.cache
IdentityApi.Domain/obj/Debug/netcoreapp3.1/IdentityApi.Domain.csprojAssemblyReference.cache
.vs/Denver/config/applicationhost.config
.vs/Denver/DesignTimeBuild/.dtbcache.v2
UserManagementApi.DataCore/obj/Debug/netcoreapp3.1/UserManagementApi.DataCore.csprojAssemblyReference.cache
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.csprojAssemblyReference.cache
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.AssemblyInfoInputs.cache
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.csprojAssemblyReference.cache
UserManagementApi/obj/Debug/netcoreapp3.1/UserManagementApi.csprojAssemblyReference.cache
UserManagementApi.DataCore/obj/Debug/netcoreapp3.1/UserManagementApi.DataCore.csprojAssemblyReference.cache
IdentityApi/obj/Debug/netcoreapp3.1/IdentityApi.csprojAssemblyReference.cache
IdentityApi.Domain/obj/Debug/netcoreapp3.1/IdentityApi.Domain.csprojAssemblyReference.cache
IdentityApi.DataCore/obj/Debug/netcoreapp3.1/IdentityApi.DataCore.csprojAssemblyReference.cache
Denver.DataAccess/obj/Debug/netcoreapp3.1/Denver.DataAccess.csprojAssemblyReference.cache
/Denver.DataAccess/obj/Debug/netcoreapp3.1
/IdentityApi/obj/Debug/netcoreapp3.1
/IdentityApi.DataCore/obj/Debug/netcoreapp3.1
/IdentityApi.Domain/obj/Debug/netcoreapp3.1
/UserManagementApi/obj/Debug/netcoreapp3.1
/UserManagementApi.DataCore/obj/Debug/netcoreapp3.1
/UserManagementApi.Domain/obj/Debug/netcoreapp3.1
/Utility/obj/Debug/netcoreapp3.1
/Denver.EventBus/bin/Debug/netcoreapp3.1
/Denver.EventBus/obj
/Denver.EventLog/bin/Debug/netcoreapp3.1
/Denver.EventLog/obj
InvoicingApi.DataCore/obj/Debug/netcoreapp3.1/InvoicingApi.DataCore.AssemblyInfo.cs
InvoicingApi.DataCore/obj/InvoicingApi.DataCore.csproj.nuget.dgspec.json
InvoicingApi.DataCore/obj/project.assets.json
InvoicingApi.Domain/obj/Debug/netcoreapp3.1/InvoicingApi.Domain.AssemblyInfo.cs
InvoicingApi.Domain/obj/InvoicingApi.Domain.csproj.nuget.dgspec.json
InvoicingApi.Domain/obj/project.assets.json
InvoicingApi/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
InvoicingApi/obj/Debug/netcoreapp3.1/InvoicingApi.AssemblyInfo.cs
InvoicingApi/obj/Debug/netcoreapp3.1/InvoicingApi.exe
InvoicingApi/obj/InvoicingApi.csproj.nuget.dgspec.json
InvoicingApi/obj/project.assets.json
InvoicingApi/obj/Debug/netcoreapp3.1/staticwebassets/InvoicingApi.StaticWebAssets.xml
InvoicingApi/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
InvoicingApi/bin/Debug/netcoreapp3.1/InvoicingApi.runtimeconfig.json
InvoicingApi/bin/Debug/netcoreapp3.1/InvoicingApi.runtimeconfig.dev.json
InvoicingApi/bin/Debug/netcoreapp3.1/InvoicingApi.exe
InvoicingApi/bin/Debug/netcoreapp3.1/InvoicingApi.deps.json
InvoicingApi/bin/Debug/netcoreapp3.1/appsettings.json
InvoicingApi/bin/Debug/netcoreapp3.1/appsettings.Development.json
InvoicingApi.Domain/bin/Debug/netcoreapp3.1/InvoicingApi.Domain.deps.json
InvoicingApi.DataCore/bin/Debug/netcoreapp3.1/InvoicingApi.DataCore.deps.json
